name: RSS_AND_DOCX_ETL

on:
  workflow_dispatch:

env: 
  SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY }}
  SUPABASE_API_URL: ${{ secrets.SUPABASE_API_URL }}

jobs:
  rss-etl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo Content
        uses: actions/checkout@v3
      - name: Setup Python 
        uses: actions/setup-python@v4
        with: 
          python-version: '3.11'
      - name: Setup Python Path
        run: echo "PYTHONPATH=$PYTHONPATH:." >> $GITHUB_ENV
      - name: Install Python Packages
        run: |
          python -m pip install python-docx
          python -m pip install supabase
          python -m pip install python-dotenv
          python -m pip install feedparser
      - name: Run RSS extraction script
        run: python law_reader/rss_etl.py
  docx-etl:
    needs: rss-etl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo Content
        uses: actions/checkout@v3
      - name: Setup Python 
        uses: actions/setup-python@v4
        with: 
          python-version: '3.11'
      - name: Install Python Packages
        run: |
          python -m pip install python-docx
          python -m pip install supabase
          python -m pip install python-dotenv
          python -m pip install requests
      - name: Install Libreoffice for doc to docx conversion
        run: |
          sudo apt-get update
          sudo apt install libreoffice
      - name: Run DOCX Text extraction script
        run: python law_reader/docx-etl.py
