name: SUMMARIZE_ETL

on:
  workflow_dispatch:

env:
  SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY }}
  SUPABASE_API_URL: ${{ secrets.SUPABASE_API_URL }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:
  summarize_etl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo Content
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Python Packages
        run: |
          python -m pip install supabase 
          python -m pip install python-dotenv
          python -m pip install openai
          python -m pip install langchain
          python -m pip install gpt4all
          python -m pip install chromadb
          python -m pip install feedparser
          # Add other packages as needed
      - name: Run Summarize ETL script
        run: |
          PYTHONPATH=$(pwd) python law_reader/summarize_etl.py
